{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}">
    
    
    </script>
    
    <style>
      container {
        justify-content: center;
        justify-self: center;
        justify-items: center;
      }
    </style>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <container>
      {% for product in all_lists %}
        <p>
          {{ product.item }}
          {{ product.price }}
          {{ product.added_by }}
        </p>
      {% endfor %}
<!--       <button href="">
        Add item
      </button> -->
    </container>
	</body>
</html>